<!DOCTYPE html>
<html>
 <body> 
  <form method= "post" action="">
    {% csrf_token %}
    <div class="mb-3">
        <label for="twitter id" class="form-label">Enter the id</label>
        <input type= "id" class= "form-control" id="input" name= "id" placeholder="8-digit-id">
    </div>
      <p><button class="btn btn-primary" type="submit" floatformat="float-right">submit</button></p>
  </form> 
  <div>
    <p>user id is: <b>{{ variable1 }}</b></p>
    <p>username is: <b>{{ variable2 }}</b></p>
  </div>
</body>        
</html>
    