<!DOCTYPE html>
<html>
 <body>   
  <form method= "post" action="">
    {% csrf_token %}
    <h3>this is the querry page </h3>
    <div class="mb-3">
        <label for="twitter id" class="form-label">Enter the id</label>
        <input type= "id" class= "form-control" id="input" name= "id" placeholder="hello">
    </div>
      <p><button class="btn btn-primary" type="submit" >submit</button></p>
  </form> 
  <div>
    <p>user id is: <b>{{ variable1 }}</b></p>
    <p>username is: <b>{{ variable2 }}</b></p>
  </div>
</body>        
</html>
    